@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Careeria, ohjelmistotuotanto</h1>
    <p class="lead">Tämä on Careerian IoT-harjoitus, jossa mitataan mm. lämpötiloja hyödyntäen Rasberry Pi3:sta.</p>
    <p>Syksy 2020 -kehityshaara Oct 29c</p>
</div>

<div class="row">
    
</div>